/* styles.css */
section{
    height: 1080px;
    width: 480px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-image: url(maria1.png);
}
#game {
    text-align: center;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 30px;
    margin-right: 45px;
    margin-top: 310px;
}

h1 {
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
    color: rgb(26, 23, 23);
    background-color: rgb(150, 12, 12);
    border-radius: 40px;
}
#question{
    background-color: beige;
    margin: 0 auto 10px auto;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(72, 72, 80);
}
#question-container {
    margin-bottom: 10px;
    font-size: 35px;
}

#answer {
    display: block;
    margin: 0 auto 10px auto;
    padding: 10px;
    width: 70%;
    font-size: 16px;
    border-radius: 10px;
}
#level{
    background-color: brown;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 25px;
    margin-top: 20px;
}
#answer::placeholder {
    color: gray;
    opacity: 1;
}

#submit-button {
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    color: green;
    margin-top: 20px;
}

#animation-message {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: rgb(51, 39, 221);
    animation: fade 5s ease-in-out;
    background-color: #ccc;
}

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
